//
//  Stage.xcconfig
//  Channels
//
//  Created by Omnia Samy on 3/24/20.
//  Copyright © 2020 Omnia Samy. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PUBLIC_KEY = 7327619bab93782e16fe8e27168e02b6
PRIVATE_KEY = fb3e3cee9f0560c6af23d2ec93716ad17319e2ad
ROOT_URL = pastebin.com/raw
//gateway.marvel.com/v1/public
